{% extends "index.html" %}
{% block content %}
<html>
<head>
	<title>Chart</title>
	<meta charset="utf-8">
	<script src="static/js/jquery.min.js"></script>
  	<script src="static/js/highcharts.js"></script>
</head>
<body>
  	<form action="/signin" method="post">
  		{% if allmoney %} 
	    <div id="allmoneyContainer" style="width:100%; height:800px; margin-top:100px;"></div>
	    {% endif %}
	    {% if turnmoney %}
	    <div id="turnmoneyContainer" style="width:100%; height:800px; margin-top:100px;"></div>
	    {% endif %}
  	</form>
  	<script>
		$(function () {
			var allmoney = '{{ allmoney|safe }}';
			var turnmoney = '{{ turnmoney|safe }}';
			if(allmoney) {
				ShowAllMoneyBank();	
			}
         	if(turnmoney) {
         		ShowTurnMoneyBank();	
         	}
		});
		
		// 显示输赢排行榜
		function ShowTurnMoneyBank() {
			var options = {
				chart: {
					renderTo: 'turnmoneyContainer',
			        type: 'column'
			    },
			    title: {
			        text: '输赢排行榜 2017'
			    },
			    xAxis: {
			        type: 'category',
			        title: {
			        	text: '玩家ID',
			        	align: 'left',
			        },
			        labels: {
			            rotation: -45,
			            style: {
			                fontSize: '13px',
			                fontFamily: 'Verdana, sans-serif'
			            }
			        }
			    },
			    yAxis: {
			        min: 0,
			        title: {
			            text: 'money (coins)'
			        }
			    },
			    legend: {
			        enabled: true
			    },
			    tooltip: {
			        pointFormat: '输赢值: <b>{point.y:.1f} (coins)</b>'
			    },
			};
			
			// 引用html变量changci
			var points = JSON.parse('{{ turnmoney|safe }}');
			// 数组第一个元素转换为字符串
			for(var i = 0; i < points.length; i++) {
				points[i][0] = 	points[i][0].toString();	
			}
			var data = [{
				        name: 'Population',
				        data: points,
				        dataLabels: {
				            enabled: true,
				            rotation: -90,
				            color: '#FFFFFF',
				            align: 'right',
				            format: '{point.y:.1f}', // one decimal
				            y: 10, // 10 pixels down from the top
				            style: {
				                fontSize: '13px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    }];
			
			options.series = data;
		    var chart = new Highcharts.Chart(options);
		};
		
		// 显示资产排行榜
		function ShowAllMoneyBank() {
			var options = {
				chart: {
					renderTo: 'allmoneyContainer',
			        type: 'column'
			    },
			    title: {
			        text: '资产排行榜 2017'
			    },
			    xAxis: {
			        type: 'category',
			        title: {
			        	text: '玩家ID',
			        	align: 'left',
			        },
			        labels: {
			            rotation: -45,
			            style: {
			                fontSize: '13px',
			                fontFamily: 'Verdana, sans-serif'
			            }
			        }
			    },
			    yAxis: {
			        min: 0,
			        title: {
			            text: 'money (coins)'
			        }
			    },
			    legend: {
			        enabled: true
			    },
			    tooltip: {
			        pointFormat: '2017资产值: <b>{point.y:.1f} (coins)</b>'
			    },
			};
			
			// 引用html变量changci
			var points = JSON.parse('{{ allmoney|safe }}');
			// 数组第一个元素转换为字符串
			for(var i = 0; i < points.length; i++) {
				points[i][0] = 	points[i][0].toString();	
			}
			var data = [{
				        name: 'Population',
				        data: points,
				        dataLabels: {
				            enabled: true,
				            rotation: -90,
				            color: '#FFFFFF',
				            align: 'right',
				            format: '{point.y:.1f}', // one decimal
				            y: 10, // 10 pixels down from the top
				            style: {
				                fontSize: '13px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    }];
			
			options.series = data;
		    var chart = new Highcharts.Chart(options);
		};
  	</script>
</body>
</html>
{% endblock %}
