<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    <!-- JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-table.min.js"></script>
    <!-- Own JavaScript -->
    <!-- <script src="static/js/ownjs/retire.js"></script> -->
	</head>
<body>
	<div class="container">
  	<form action='/retire' id="retireForm" method="post">
  		<!-- Example single danger button -->
		<div class="btn-group">
		<button id="myDropdown" type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ title }}
		</button>
		  	<div class="dropdown-menu" >
		    <a class="dropdown-item" href="#">普通场</a>
		    <a class="dropdown-item" href="#">癞子场</a>
		    <a class="dropdown-item" href="#">双癞子场</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="#">四人场</a>
		  	</div>
		</div>
        <table id="retireTable"></table>	
    	<input type="hidden" id="opform" name="opform" value={{request.form['opform']}}>
    	<button type="button" id="allretire" class="btn btn-primary btn-lg">全部退休</button>
  	</form>
  	<script>
		// 更新单元格内容
		function UpdateTableCell(row, field, val){
			// 更新表格列"option"展示变为按钮
		    $('#retireTable').bootstrapTable('updateCell', {
                index: row,
                field: field,
                value: val,
            });			
		};
		
		// 初始化设置按钮的列
		function operateFormatter(value, row, index) {
        	return ['<button type="button" class="btn btn-success">退休操作</button>'].join('');  	
    	};
	
		// 单个场次退休操作	
		window.operateEvents = {
	        'click .btn': function (e, value, row, index) {
	        	e.preventDefault();
	            // alert('You click like action, row: ' + JSON.stringify(row));
	            // var op = JSON.stringify({'retire':'onelevel'});
	            var msg = JSON.stringify(row);
				$('#opform').val(msg);
				$('#retireForm').submit();
	        },
	    };
		
		// 所有场次退休操作
		$('#allretire').on('click', function(event) {
			event.preventDefault(); // To prevent following the link (optional)
			// var op = JSON.stringify({'retire':'allevel'});
			var msg = JSON.stringify($('#retireTable').bootstrapTable('getData'));
			$('#opform').val(msg);
		    $('#retireForm').submit();
		    // console.log(JSON.stringify(tbldata));
		});
		
		// 场次切换: 所有下拉框执行同一个事件回调函数,class=".dropdown-item"
		$(".dropdown-item").click(function(e) {		
			// document.getElementById('myDropdown').textContent = e.target.text;
			// $('#myDropdown').textContent = e.target.text;
			// 提交表单获取场次信息key:levelswitch
			var op = JSON.stringify({'levelswitch':e.target.text});
			$('#opform').val(op);
		    $('#retireForm').submit();
			e.preventDefault();
		});
		
		// 表格展示
		$(function InitTable() {
			// 引用html变量changci
			var points = JSON.parse('{{ changci|safe }}');
			// 重新加载场次信息
		    $('#retireTable').bootstrapTable({
		        data: points,
		        columns: [
		        		{
	                        field: 'host',
	                        title: 'Host',
	                        align: 'center',
	                    },
	                    {
	                        field: 'level',
	                        title: 'Level',
	                        align: 'center',
                    	},
                    	{
	                        field: 'group1',
	                        title: 'Group1',
	                        align: 'center',
	                    },
	                    {
	                        field: 'group2',
	                        title: 'Group2',
	                        align: 'center',
	                    },
	                    {
	                        field: 'option',
	                        title: 'Option',
	                        align: 'center',
	                        formatter: operateFormatter,
	                        events: operateEvents,
	                    }]
		    });
		});
	</script>
	</div>
</body>
</html>