<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    <!-- JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-table.min.js"></script>
    <!-- Own JavaScript -->
    <!-- <script src="static/js/ownjs/retire.js"></script> -->
   	<!-- css -->
    <style media="screen" type="text/css">
		input[type='radio'] { transform: scale(2.5); }
	</style>
	</head>
<body>
	<div class="container">
  	<form action='/retire' id="retireForm" method="post" onsubmit="return ValidRetireForm();">
  		<!-- Example single danger button -->
		<div class="btn-group">
		<button id="myDropdown" type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ title }}
		</button>
		  	<div class="dropdown-menu" >
		    <a class="dropdown-item" href="#">普通场</a>
		    <a class="dropdown-item" href="#">癞子场</a>
		    <a class="dropdown-item" href="#">双癞子场</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="#">四人场</a>
		  	</div>
		</div>
        <table id="retireTable" data-click-to-select="true" ></table>
    	<input type="hidden" id="opform" name="opform" value={{request.form['opform']}}>
    	<button type="button" id="allretire" class="btn btn-primary btn-lg" value="1">全部退休</button>
  	</form>
  	<script>
  		// 检查表单提交是否合法
  		function ValidRetireForm() {
  			// get all submit val, Json str to Json obj
  			var op = $('#opform').val();
  			var obj = JSON.parse($('#opform').val()); 
  			if('retiremenu' in obj) {
  				// 退休操作必须选择组，Group1或者Group2
  				if(obj['group'] == undefined) {
  					alert('退休操作：请选择退休组号!');
  					return false;
  				}
  				// 提示用户确认退休操作
  				else {
  					return confirm(op);
  				}
  			}
  			return true;
  		};
  	
		// 更新单元格内容
		function UpdateTableCell(row, field, val){
			// 更新表格列"option"展示变为按钮
		    $('#retireTable').bootstrapTable('updateCell', {
                index: row,
                field: field,
                value: val,
            });			
		};
		
		// 初始化组的列(玩家人数和退休状态)
    	function GroupFormatter(value, row, index) {
    		var user = value['usercount'];
    		var stat = ((value['stat'] == 1) ? "正在退休" : "未退休");
    		return user.toString() + ' ' + stat;
    	}
		
		// 初始化 退休操作
		function OperateFormatter(value, row, index) {
        	return ['<button type="button" class="btn btn-success" value="1" onclick="OperateRetire(event);">退休操作</button>'].join('');
    	};
    	
    	// 初始化 取消退休
    	function OperateCancelFormatter(value, row, index) {
        	return ['<button type="button" class="btn btn-primary" value="0" onclick="OperateRetire(event);">取消退休</button>'].join('');  	
    	};
    	    	
    	// 单个场次-退休操作/取消退休
    	function OperateRetire(e) {
    		e.preventDefault();
    		// get click row index
    		var rowIdx = e.target.parentNode.parentNode.rowIndex; // start with 1 to ...
    		var alldata = $('#retireTable').bootstrapTable('getData');
    		var leveltbl = [alldata[rowIdx-1]['level']];
    		var action = event.target.value;
    		var group = $('input[name=retiregroup]:checked', '#retireForm').val();
    		var menu = $('#myDropdown').text();
    		menu = menu.replace(/\s/g, '');  // remove space
    		// submit value
	       	var op = JSON.stringify({'retiremenu':menu,'action':action,'group':group,'level':leveltbl});
    		$('#opform').val(op);
			$('#retireForm').submit();
    	};
    	
		// 所有场次退休操作
		$('#allretire').on('click', function(event) {
			event.preventDefault(); // To prevent following the link (optional)
			// var op = JSON.stringify({'retire':'allevel'});
			var action = event.target.value;
			var alldata = $('#retireTable').bootstrapTable('getData');
			var rowsize = alldata.length;
			var leveltbl = [];
			for(var i = 0; i < rowsize; i++) {
				leveltbl.push(alldata[i]['level']);	
			}
			var group = $('input[name=retiregroup]:checked', '#retireForm').val();
			var menu = $('#myDropdown').text();
	       	menu = menu.replace(/\s/g, '');  // remove space
	       	// submit value
	       	var op = JSON.stringify({'retiremenu':menu,'action':action,'group':group,'level':leveltbl});
			$('#opform').val(op);
		    $('#retireForm').submit();
		    // console.log(JSON.stringify(tbldata));
		});
		
		// 场次切换: 所有下拉框执行同一个事件回调函数,class=".dropdown-item"
		$(".dropdown-item").click(function(e) {		
			// document.getElementById('myDropdown').textContent = e.target.text;
			// $('#myDropdown').textContent = e.target.text;
			// 提交表单获取场次信息key:levelswitch
			var op = JSON.stringify({'levelswitch':e.target.text});
			$('#opform').val(op);
		    $('#retireForm').submit();
			e.preventDefault();
		});
		
		// 根据group展示操作按钮
		function ShowGroupOption(group) { // group start with 1 to ...
			var alldata = $('#retireTable').bootstrapTable('getData');
			var rowsize = alldata.length;			
			// alert(JSON.stringify(alldata));
			for(var i = 0; i < rowsize; i++) {
				// 根据组当前状态修改操作选项
				var stat = alldata[i]['group'+group.toString()]['stat'];
				var act = ((stat == 1) ? OperateCancelFormatter() : OperateFormatter());
				var trpos = 'tr:eq(' + (i+1).toString() + ')'; 
				$('#retireTable').find(trpos).find('td:last').html(act);
				// UpdateTableCell(i, 'level', act);
			}
		};
		
		// group切换，根据切换group时根据退休状态切换操作按钮显示
		// $("input[name=retiregroup]").change(function () {});
		function SelectGroup(e) {
			// e.preventDefault();
			var group = e.target.value;
			ShowGroupOption(group);
		};
		
		// 表格展示
		$(function InitTable() {
			// 引用html变量changci
			var points = JSON.parse('{{ changci|safe }}');
			// 重新加载场次信息
		    $('#retireTable').bootstrapTable({
		        data: points,
		        columns: [
		        		{
	                        field: 'host',
	                        title: 'Host',
	                        align: 'center',
	                    },
	                    {
	                        field: 'level',
	                        title: 'Level',
	                        align: 'center',
                    	},
                    	{
	                        field: 'group1',
	                        title: ['Group1',
	                        		'&nbsp;&nbsp;&nbsp;&nbsp;',
	                        		'<input type="radio" name="retiregroup" value="1" onclick="SelectGroup(event);" />'].join(''),
	                        align: 'center',
	                        formatter: GroupFormatter,
	                    },
	                    {
	                        field: 'group2',
	                        title: ['Group2',
	                        		'&nbsp;&nbsp;&nbsp;&nbsp;',
	                        		'<input type="radio" name="retiregroup" value="2" onclick="SelectGroup(event);" checked />'].join(''),
	                        align: 'center',
	                        formatter: GroupFormatter,
	                    },
	                    {
	                        field: 'option',
	                        title: 'Option',
	                        align: 'center',
	                        formatter: OperateFormatter,
	                    }]
		    });
		    // 默认展示第2组信息
		    ShowGroupOption('2');
		});
	</script>
	</div>
</body>
</html>